:host {
  display: block;
  min-height: 400px;
}

.wizard-steps {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wizard-step {
  $borderWidth: 2px;
  padding: $borderWidth + 4px;
  box-sizing: border-box;
  box-shadow: 0 0 0 $borderWidth transparent inset;
  background: white;
  overflow: hidden;
  transition: box-shadow .5s ease;
  &.is-valid {
    box-shadow: 0 0 0 $borderWidth green inset;
  }
}

.quiz-step {
  display: block;
}
