:host {
  display: block;
}

.wizard-steps {
  position: relative;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

.wizard-step {
  border: 2px solid gray;
  background: white;
  &.is-valid {
    border-color: green;
  }
}

.quiz-step {
  display: block;
}
